*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(17, 93, 180);
    height: 100vh;
}
#quadrado1{
    width: 100%;
    background-color: green;
    height: 10vh;
    position: absolute;
    bottom: 0;
}
#quadrado2{
 width: 2%;
 height:300px;
 background-color: sienna;
 position: absolute;
 bottom: 20%;
 
 margin-bottom: -10vh;
 margin-left: 20vh;
}
#quadrado3{
    width: 10%;
    background-color: yellow;
    height: 10vh;
    position: absolute;
    right: 0;
    top: 0;
    border: 10px solid orangered;
    border-right: 0;
    border-top: 0;
}

#quadrado4{
    position:absolute;
    background-color: greenyellow;
    width: 12%;
    height: 100px;
    margin-bottom: 40px;
    margin-left: 10vh;
    bottom: 37%;
}

#quadrado5{
    width: 2%;
    height:300px;
    background-color: sienna;
    position: absolute;
    bottom: 20%;
    
    margin-bottom: -10vh;
    margin-left: 80vh;
}

#quadrado6{
    width: 2%;
    height:300px;
    background-color: sienna;
    position: absolute;
    bottom: 20%;
    
    margin-bottom: -10vh;
    margin-left: 150vh;
}

#quadrado7{
    position:absolute;
    background-color: greenyellow;
    width: 12%;
    height: 100px;
    margin-bottom: 40px;
    margin-left: 70vh;
    bottom: 37%;
}

#quadrado8{
    position:absolute;
    background-color: greenyellow;
    width: 12%;
    height: 100px;
    margin-bottom: 40px;
    margin-left: 140vh;
    bottom: 37%;
}

#quadrado9{
    position: absolute;
    background-color: white;
    width: 3%;
    height: 1%;
    margin-left: 140vh;
}

#quadrado10{
    position: absolute;
    background-color: white;
    width: 3%;
    height: 1%;
    margin-left: 120vh;
}

#quadrado11{
    position: absolute;
    background-color: white;
    width: 3%;
    height: 1%;
    margin-left: 100vh;
}

#quadrado12{
    position: absolute;
    background-color: white;
    width: 3%;
    height: 1%;
    margin-left: 80vh;
}

#quadrado13{
    position: absolute;
    background-color: white;
    width: 3%;
    height: 1%;
    margin-left: 60vh;
}

#quadrado14{
    position: absolute;
    background-color: white;
    width: 3%;
    height: 1%;
    margin-left: 40vh;
}

#quadrado15{
    position: absolute;
    background-color: white;
    width: 3%;
    height: 1%;
    margin-left: 20vh;
}

#quadrado16{
    position: absolute;
    background-color: white;
    width: 3%;
    height: 1%;
    margin-left: 0vh;
}

#quadrado17{
    position:absolute;
    background-color: greenyellow;
    width: 10%;
    height: 50px;
    margin-bottom: 60px;
    margin-left: 142vh;
    bottom:45%;
}

#quadrado18{
    position:absolute;
    background-color: greenyellow;
    width: 10%;
    height: 50px;
    margin-bottom: 60px;
    margin-left: 72vh;
    bottom:45%;
}

#quadrado19{
    position:absolute;
    background-color: greenyellow;
    width: 10%;
    height: 50px;
    margin-bottom: 60px;
    margin-left: 12vh;
    bottom:45%;
}

